{%- case settings.footer_layout -%}
  {%- when '01' -%}
    {% section 'footer' %}
  {%- when '02' -%}
    {% section 'footer-2' %}
    {%- when '03' -%}
      {% section 'footer-3' %}
{%- endcase -%}

<!-- Mini Cart Start -->

<!-- Mini Cart End -->

<!-- Global Overlay Start -->
<div class="ai-global-overlay"></div>
<!-- Global Overlay End -->


