

{%- if section.settings.enable_announcement -%}
  
    {% render 'announcement-style' %}
 
   

    <div class="topbar-wrapper">
      <div class="container--{{ section.settings.layout }}">
        <div class="topbar-inner-wrapper">
            <div class="topbar-item">
                <div class="item-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 512 512" width="40" height="40">
                        <path d="M507.219,275.177,466.234,185.01A42.749,42.749,0,0,0,427.4,160H352V128a32.035,32.035,0,0,0-32-32H53.333a32.035,32.035,0,0,0-32,32V256a10.667,10.667,0,1,0,21.333,0V128a10.679,10.679,0,0,1,10.667-10.667H320A10.679,10.679,0,0,1,330.667,128V298.667A10.681,10.681,0,0,1,320,309.333H192a10.667,10.667,0,0,0,0,21.333H320a32.035,32.035,0,0,0,32-32V181.333h75.4a21.381,21.381,0,0,1,19.422,12.505l4.013,8.828h-45.5A21.356,21.356,0,0,0,384,224v42.667A21.354,21.354,0,0,0,405.333,288h83.8a31.657,31.657,0,0,1,1.538,9.24v44.094A10.681,10.681,0,0,1,480,352H446.922a53.333,53.333,0,0,0-104.51,0H169.589a53.333,53.333,0,0,0-104.51,0H53.333a10.681,10.681,0,0,1-10.667-10.667V330.667a10.667,10.667,0,0,0,0-21.333h-32a10.667,10.667,0,0,0,0,21.333H21.333v10.667a32.035,32.035,0,0,0,32,32H65.078a53.333,53.333,0,0,0,104.51,0H342.411a53.333,53.333,0,0,0,104.51,0H480a32.035,32.035,0,0,0,32-32V297.24A52.9,52.9,0,0,0,507.219,275.177ZM117.333,394.667a32,32,0,1,1,32-32A32.035,32.035,0,0,1,117.333,394.667Zm277.333,0a32,32,0,1,1,32-32A32.035,32.035,0,0,1,394.667,394.667ZM405.333,224h55.194l19.394,42.667H405.333Z" />
                        <path d="M184.224,197.333a26.7,26.7,0,0,0-26.667-26.667H136.224a10.667,10.667,0,0,0-10.667,10.667v64a10.667,10.667,0,1,0,21.333,0V232.578L164.2,252.357A10.665,10.665,0,1,0,180.25,238.31l-13.839-15.82A26.715,26.715,0,0,0,184.224,197.333Zm-26.667,5.333H146.891V192h10.667a5.333,5.333,0,0,1,0,10.667Z" />
                        <path d="M106.667,192a10.667,10.667,0,0,0,0-21.333h-32A10.667,10.667,0,0,0,64,181.333v64a10.667,10.667,0,1,0,21.333,0V224h16a10.667,10.667,0,1,0,0-21.333h-16V192Z" />
                        <path d="M298.667,192a10.667,10.667,0,0,0,0-21.333h-32A10.667,10.667,0,0,0,256,181.333v64A10.667,10.667,0,0,0,266.667,256h32a10.667,10.667,0,0,0,0-21.333H277.333V224h15.76a10.667,10.667,0,1,0,0-21.333h-15.76V192Z" />
                        <path d="M237.333,192a10.667,10.667,0,1,0,0-21.333h-32a10.667,10.667,0,0,0-10.667,10.667v64A10.667,10.667,0,0,0,205.333,256h32a10.667,10.667,0,1,0,0-21.333H216V224h15.766a10.667,10.667,0,1,0,0-21.333H216V192Z" />
                        <path d="M10.667,298.667H64a10.667,10.667,0,0,0,0-21.333H10.667a10.667,10.667,0,0,0,0,21.333Z" /></svg>
                </div>
                        {%- if section.settings.free_shipping != blank -%}
                            <div class="item-content">
                                    {{ section.settings.free_shipping }}
                            </div>
                        {%- endif -%}
            </div>
            <div class="topbar-item">
                <div class="item-icon">
                    <svg width="27" height="27" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" version="1.1" id="svg1623" xml:space="preserve" width="682.66669" height="682.66669" viewBox="0 0 682.66669 682.66669">
                        <defs id="defs1627">
                            <clipPath clipPathUnits="userSpaceOnUse" id="clipPath1645">
                                <path d="M 0,512 H 512 V 0 H 0 Z" id="path1643" />
                            </clipPath>
                        </defs>
                        <g id="g1629" transform="matrix(1.3333333,0,0,-1.3333333,0,682.66667)">
                            <g id="g1631" transform="translate(193,402)">
                                <path d="M 0,0 H 127" style="fill:none;stroke:inherit;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path1633" />
                            </g>
                            <g id="g1635" transform="translate(352.1006,93.2246)">
                                <path d="M 0,0 -60.889,60.888 0,121.775" style="fill:none;stroke:inherit;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path1637" />
                            </g>
                            <g id="g1639">
                                <g id="g1641" clip-path="url(#clipPath1645)">
                                    <g id="g1647" transform="translate(470.9707,12)">
                                        <path d="m 0,0 c 11.891,15.046 21.029,34.011 21.029,54.677 0,48.779 -39.544,88.323 -88.323,88.323 h -97.317" style="fill:none;stroke:inherit;stroke-width:40;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path1649" />
                                    </g>
                                    <g id="g1651" transform="translate(416.041,40)">
                                        <path d="m 0,0 h -356.041 c -11.028,0 -20,8.972 -20,20 v 392 c 0,11.028 8.972,20 20,20 h 392 c 11.028,0 20,-8.972 20,-20 V 158.297 c 15.018,-7.827 28.533,-18.151 40,-30.415 V 412 c 0,33.084 -26.916,60 -60,60 h -392 c -33.084,0 -60,-26.916 -60,-60 V 20 c 0,-33.084 26.916,-60 60,-60 h 321.892 z" style="fill:inherit;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path1653" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                {%- if section.settings.free_shipping != blank -%}
                    <div class="item-content">
                      {{ section.settings.free_return }}    
                    </div>
                {%- endif -%}
            </div>
            <div class="topbar-item">
                <div class="item-icon">
                    <svg width="28" height="28" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" version="1.1" id="svg3810" xml:space="preserve" width="682.66669" height="682.66669" viewBox="0 0 682.66669 682.66669">
                        <defs id="defs3814">
                            <clipPath clipPathUnits="userSpaceOnUse" id="clipPath3824">
                                <path d="M 0,512 H 512 V 0 H 0 Z" id="path3822" />
                            </clipPath>
                        </defs>
                        <g id="g3816" transform="matrix(1.3333333,0,0,-1.3333333,0,682.66667)">
                            <g id="g3818">
                                <g id="g3820" clip-path="url(#clipPath3824)">
                                    <g id="g3826" transform="translate(409.9102,69.6396)">
                                        <path d="m 0,0 c 0,-32.939 -26.7,-59.64 -59.641,-59.64 h -64.599 c -22.59,0 -43.24,12.76 -53.34,32.97 L -190.92,0 -220.74,-59.64 -250.561,0 -280.38,-59.64 -310.2,0 -340.021,-59.64 -369.84,0 -399.66,-59.64" style="fill:none;stroke:inherit;stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path3828" />
                                    </g>
                                    <g id="g3830" transform="translate(266.25,246)">
                                        <path d="m 0,0 c 0,-5.522 -4.478,-10 -10,-10 -5.522,0 -10,4.478 -10,10 0,5.522 4.478,10 10,10 C -4.478,10 0,5.522 0,0" style="fill:inherit;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path3832" />
                                    </g>
                                    <g id="g3834" transform="translate(224.9414,278.2939)">
                                        <path d="m 0,0 c -12.175,14.184 -23.106,28.649 -32.062,42.666 -7.379,11.54 -5.149,26.83 4.541,36.521 l 33.66,33.659 c 7.24,7.24 7.24,18.98 0,26.22 l -79.21,79.21 c -7.241,7.24 -18.981,7.24 -26.231,0 l -20.04,-20.05 c -32.529,-32.53 -41.33,-82.16 -20.909,-123.39 36.34,-73.35 123.1,-197.78 267.149,-268.41 41.34,-20.27 91.92,-11.67 124.481,20.88 l 20.5,20.5 c 7.239,7.25 7.239,18.99 0,26.23 l -79.91,79.2 c -7.25,7.25 -18.99,7.25 -26.231,0 l -33.66,-33.65 c -9.68,-9.69 -24.97,-11.92 -36.519,-4.54 -10.185,6.506 -20.61,14.058 -30.994,22.375" style="fill:none;stroke:inherit;stroke-width:25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path3836" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="item-content">
                    {%- if section.settings.free_shipping != blank -%}
                                {{ section.settings.top_bar_no }}
                    {%- endif -%}
                </div>
            </div>
            <div class="topbar-item">
                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="topbar-item small-d-item">
                <div class="currency-dropdown">
                    <select class="currency-selection" name="state">
                        <option value="USD">SUSD</option>
                        <option value="PKR">PKR</option>
                    </select>
                </div>
            </div>
            <div class="topbar-item small-d-item">
                <div class="review-menu">
                    <a href="#"><svg viewBox="0 0 24 24" width="25" height="25">
                            <path d="M21.984 9.234l-7.172-0.609-2.813-6.609-2.813 6.609-7.172 0.609 5.438 4.734-1.641 7.031 6.188-3.75 6.188 3.75-1.641-7.031zM12 15.422l-3.75 2.25 0.984-4.266-3.328-2.906 4.406-0.375 1.688-4.031 1.688 4.031 4.406 0.375-3.328 2.906 0.984 4.266z"></path>
                        </svg>
                        Reviews</a>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <script>
//        $(".announcement-bar__item").slick({
//          slidesToShow: 1,
//          slidesToScroll: 1,
//          speed: 400,
//          dots: false,
//          arrows: false,
//          fade: true,
//          autoplay: true,
//          autoplaySpeed: 5000
//        });
    </script>
{%- endif -%}

{% schema %}
{
    "name": "t:sections.announcement-bar.name",
    "max_blocks": 12,
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_announcement",
            "label": "t:sections.header.settings.header_layout.enable_announcement",
            "default": true
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "t:settings_schema.colors.settings.colors_text.label__1",
            "default": "#b05d5d"
        },
        {
            "type": "color",
            "id": "color_hover_text",
            "label": "t:settings_schema.colors.settings.button_colors.texthover_color",
            "default": "#b05d5d"
        },
        {
            "type": "color",
            "id": "bg_color_text",
            "label": "t:settings_schema.colors.settings.colors_name.background_color",
            "default": "#ffe8e8"
        },
        {
            "type": "color_background",
            "id": "bg_color_text_gradient",
            "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
        },
        {
            "type": "range",
            "id": "font_size_text",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.text.font_size",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 12
        },
        {
          "type": "range",
          "id": "font_lineheight_text",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:settings_schema.typography.settings.typography.label__1",
          "default": 20
        },
        {
            "type": "select",
            "id": "font_style_text",
            "label": "t:settings_schema.typography.settings.font_style.label",
            "default": "normal",
            "options": [
            {
                "value": "normal",
                "label": "t:settings_schema.typography.settings.font_style.options__1"
            },
            {
                "value": "italic",
                "label": "t:settings_schema.typography.settings.font_style.options__2"
            },
            {
                "value": "oblique",
                "label": "t:settings_schema.typography.settings.font_style.options__3"
            }]
        },
        {
            "type": "select",
            "id": "font_weight_text",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "500",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "header",
            "content": "t:sections.main-product.settings.general.spacing"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "t:sections.product_block.settings.general.label__3",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "t:sections.product_block.settings.general.label__4",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.announcement-bar.customer_content"
        },
        {
            "type": "html",
            "id": "free_return",
            "label": "t:sections.announcement-bar.free_return",
            "default": "Free Returns <span>in 10 days</span>"
        },
        {
            "type": "html",
            "id": "top_bar_no",
            "label": "t:sections.announcement-bar.top_bar_no",
            "default": "+34640225587<span>39</span>"
        },
        {
            "type": "html",
            "id": "free_shipping",
            "label": "t:sections.announcement-bar.free_shipping",
            "default": "FREE shipping <span>on US$39.00+</span>"
        }
       
    ],
    "blocks": [
        {
            "type": "announcement",
            "name": "t:sections.announcement-bar.blocks.announcement.name",
            "settings": [
                {
                    "type": "html",
                    "id": "text",
                    "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label",
                    "default": "announcement"
                }
            ]
        }
    ],
    "default": {
        "blocks": [
            { 
                "type": "announcement"
            }
        ]
    }
}
{% endschema %}
